body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fe0000;
  width: 100%;
  color: white;
  gap: 150px;
  height: 35px;
}

.topnav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.topnav a:hover {
  color: white;
}

.container {
  display: flex;
  height: 80vh;
}

.left-boxes {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  margin-top: 20px
}

.header-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.profile {
  width: 240px;
  height: 328px;
  border: 1px solid white;
  box-sizing: border-box;
}

.header-images {
  display: flex;
  flex-direction: column;
}

.header-images img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid white;
  box-sizing: border-box;
}

.links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
/*   width: 50%; */
/*   border-radius: 5px; */
  border: 1px solid white;
}

.links a {
  width: 100%;
  padding: 20px 10px;
  text-decoration: none;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
}

.links a:hover {
  background-color: white;
  color: black;
}

.beanz {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  border: 1px solid white;

}

.beanz a {
  width: 100%;
  padding: 10px 10px;
  text-decoration: none;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
}

.beanz a:hover {
  background-color: white;
  color: black;
}

.banner {
  margin-top: 10px;
  width: 100%;
  display: block;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.right-boxes {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  background-color: black;
  color: white;
  height: 115%;
  margin-right: 10px;
}

.box {
  width: calc(100% / 3);
  border: 1px solid white;
  box-sizing: border-box;
  padding: 10px;
}

body.dark-mode {
  background-color: black;
  color: gray;
}

button {
  text-align: center;
  display: block;
  flex-direction: row;
  width: auto;
  background-color: black;
  color: white;
  margin-right: 10px;
  height: 30px;
  font-weight: bold;
  border-radius: 5px;
}
